<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>New Happening Settings</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Location</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>location_preference</string>
			<key>DefaultValue</key>
			<string>Home</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>Home</string>
				<string>Office</string>
			</array>
			<key>Values</key>
			<array>
				<string>Home</string>
				<string>New element</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Comment Enabled</string>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Title</key>
			<string>Hours</string>
			<key>Key</key>
			<string>hours_preference</string>
			<key>DefaultValue</key>
			<string>Medium</string>
			<key>Titles</key>
			<array>
				<string>Short</string>
				<string>Medium</string>
				<string>Long</string>
			</array>
			<key>Values</key>
			<array>
				<string>Short</string>
				<string>Medium</string>
				<string>Long</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
