<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Title</key>
			<string>tipPercentageDefault</string>
			<key>Key</key>
			<string>Key</string>
			<key>DefaultValue</key>
			<string>18</string>
			<key>MinimumValue</key>
			<real>12</real>
			<key>MaximumValue</key>
			<real>35</real>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Tax Percentage Default</string>
			<key>Key</key>
			<string>taxPercentageDefault</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>IsSecure</key>
			<false/>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
