<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Tip Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Title</key>
			<string>Tip Percentage Default</string>
			<key>Key</key>
			<string>tipPercentageDefault</string>
			<key>DefaultValue</key>
			<integer>18</integer>
			<key>MinimumValue</key>
			<integer>10</integer>
			<key>MaximumValue</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Tax Percentage Default</string>
			<key>Key</key>
			<string>taxPercentageDefault</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>IsSecure</key>
			<false/>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Currency Type</string>
			<key>Key</key>
			<string>currencyType</string>
			<key>DefaultValue</key>
			<string>$</string>
			<key>Values</key>
			<array>
				<string>Mex$</string>
				<string>€</string>
				<string>£</string>
				<string>$</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Peso</string>
				<string>Euro</string>
				<string>Pound</string>
				<string>Dollar</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Background Color</string>
			<key>Key</key>
			<string>backgroundColor</string>
			<key>DefaultValue</key>
			<string>red</string>
			<key>Titles</key>
			<array>
				<string>blue</string>
				<string>red</string>
				<string>yellow</string>
			</array>
			<key>Values</key>
			<array>
				<string>blue</string>
				<string>red</string>
				<string>yellow</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Tax Percentage Switch</string>
			<key>Key</key>
			<string>taxSwitchDefault</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
